<nav class="navbar navbar-light bg-faded">
  <form role="search">
    <div class="row">
      <div class="col-xs-8">
          <input type="text" name="q" value="{{query}}"class="form-control" placeholder="Recipe or Ingredients">
      </div>
      <div class="col-xs-4">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form> 
</nav>